body {
  background: #1c242d;
}
.box {
 
  padding: 30px 25px 10px 25px;
  margin: 30px auto;
  width: 360px;
}

h1.box-login {
  border-radius: 25px;
  width: 330px;
  height: 110px;
  line-height: 85px;
  font-size: 35px;
  color: #689ff1;
  text-align:center;

}
.box-input {
  font-size: 14px;
  background: #fff;
  border: 1px solid #ddd;
  margin-bottom: 25px;
  padding-left:10px;
  border-radius: 5px;
  width: 347px;
  height: 50px;
}
.button-submit {
  background: url(http://4.bp.blogspot.com/-OcDQ6Z9ojlQ/VD1KnwJjFOI/AAAAAAAAAgs/cu_pKN6bpL8/s1600/magnifier.png) no-repeat;
  border-width: 0px;
  cursor: pointer;
  position: relative;
  bottom: 4rem;
  left: 90%;
  width: 21px;
  height: 22px;
}
.button-submit:hover {
  background: url(http://2.bp.blogspot.com/-4-xFDFGKJrA/VD1Kn04f9TI/AAAAAAAAAgw/2ta84QY1x9A/s1600/magnifier-hover.png) no-repeat;
}
.button-submit:active {
  background: url(http://2.bp.blogspot.com/-4-xFDFGKJrA/VD1Kn04f9TI/AAAAAAAAAgw/2ta84QY1x9A/s1600/magnifier-hover.png) no-repeat;
  outline: none;
}
.button-submit::-moz-focus-inner {
  border: 0;
}
.box-input:focus {
    outline: none;
    border-color:#5c7186;
}

table{
  border-collapse: collapse;
  background:#d6d8da;
}

td{
  padding: 20px;
  width: 100%;
}
p.errorMessage {
    background-color: #e66262;
    border: #AA4502 1px solid;
    padding: 5px 10px;
    color: #FFFFFF;
    border-radius: 3px;
}

.typing-demo {
  width: 25ch;
  animation: typing 3s steps(22), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  font-size: 2em;
}

@keyframes typing {
  from {
    width: 0;
  }
}
    
@keyframes blink {
  50% {
    border-color: transparent
  }
}